version: "3.9"
services:
  prometheus:
    image: "prom/prometheus:${PROMETHEUS_VERSION}"
    container_name: "prometheus"
    restart: "always"
    volumes:
      - "prometheus_data:/prometheus"
      - "./prometheus.yaml:/etc/prometheus/prometheus.yml"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`${DOMAIN}`)"
      - 'traefik.http.routers.prometheus.middlewares=simpleAuth@file'
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
    networks:
      - common

  node-exporter:
    image: "prom/node-exporter:${NODE_EXPORTER_VERSION}"
    container_name: "node-exporter"
    restart: "always"
    volumes:
      - "/proc:/host/proc:ro"
      - "/sys:/host/sys:ro"
      - "/:/rootfs:ro"
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    networks:
      - common

  cadvisor:
    image: "gcr.io/cadvisor/cadvisor:${CADVISOR_VERSION}"
    container_name: "cadvisor"
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"

volumes:
  prometheus_data: {}

networks:
  common:
    external: true
