version: "3.9"
services:
  traefik:
    image: "traefik:2.3"
    container_name: "traefik"
    restart: "always"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.toml:/traefik.toml"
      - "./traefik_dynamic.toml:/traefik_dynamic.toml"
      - "./acme.json:/acme.json"
    networks:
      - common

networks:
  common:
    external: true
