[http.middlewares.simpleAuth.basicAuth]
  users = [
    "<$(htpasswd -nb USERNAME PASSWORD)>" 
  ]

[http.routers.api]
  rule = "Host(`yourdomain.com`)"
  entrypoints = ["web","websecure"]
  middlewares = ["simpleAuth"]
  service = "api@internal"
  [http.routers.api.tls]
    certResolver = "lets-encrypt"